<% provide(:title, 'About Us') %>
<h1>About Us</h1>

<p>
  <%= link_to "New Hire 3000 XP", root_path %>
  is a project to make adding new hires within 
  <a href="http://www.vitrue.com/">Oracle Social</a>
   easier and faster.  It was developed by Jiayuan Chen and Christopher Bissell: Co Ops, students, pioneers.  Thanks for using our app.
</p>

<div class="center">
<img src= "http://25.media.tumblr.com/tumblr_m5rwqzvclX1rqpw1po1_1280.jpg"), class="img-rounded" %>
<div>