<% provide(:title, 'Help') %>
<h1>Help</h1>
<a name="top"><p style = "align:left;font-size:30px;text-decoration:underline;"><strong>Table of Contents</p><a>
<a href="#initial">→Initial setup</a>
<br>
<a href="#addnew">→Adding New Hires</a>
<br>
<a href="#todolist">→To Do List and Emailing Contacts</a>
<br>
<a href="#edit">→Editting a New Hire</a>
<br>
<a href="#delete">→Deleting a New Hire</a>
<br>
<a href="#search">→Searching for a New Hire</a>
<br>
<br>
<br>

<a style="font-size:24px" name="initial"><strong>Initial setup:</a>
<br>
<p>
	-Go to the settings tab
	<br>
	<img src= ""), class="img-rounded" %> 
  	<br>
  	-Click on the "add contact" button
  	<br>
  	<img src= ""), class="img-rounded" %>
  	<br>
  	-Put in the contacts for each responsibility.  The contacts put in will receive emails that remind them when certain tasks are due. 
  	<br>
  	<img src= ""), class="img-rounded" %>
  	<br>
  	-All of the resonsibilities will need to have an assigned contact before new hires can start being added
  	<br>
  	<img src= ""), class="img-rounded" %>
</p>
<a href="#top">↑Return to Table of Contents</a>
<br>
<br>

<a style="font-size:24px" name="addnew"><strong>Adding New Hires:</a>
<br>
<p>
	-Click on "Add a new hire" button or "Add New" tab
	<br>
  	<img src= ""), class="img-rounded" %>
  	<br>
	-Fill in all required fields 
	<br>
  	<img src= ""), class="img-rounded" %>
  	<br>
	-Click "Add Hire" to complete adding hire
	<br>
  	<img src= ""), class="img-rounded" %>
</p>
<a href="#top">↑Return to Table of Contents</a>
<br>
<br>

<a style="font-size:24px" name="todolist"><strong>To Do List and Emailing Contacts:</a>
<br>
<p>
	-Click on "Check new hire list" button or "All Hires" tab
	<br>
  	<img src= ""), class="img-rounded" %>
  	<br>
	-Click on the "to-do list" button on the row of the table that corresponds to the new hire of choice
	<br>
  	<img src= ""), class="img-rounded" %>
  	<br>
	-To send an email, click on the "Send Email" button on the row of the table that corresponds to the task that needs to be completed
	<br>
  	<img src= ""), class="img-rounded" %>
  	<br>
	-After the task is complete, click the "Done" button 
	<br>
  	<img src= ""), class="img-rounded" %>
  	<br>
	-If you wish to send another email that corresponds to an already completed task, click the "reset" button 
	<br>
  	<img src= ""), class="img-rounded" %>
  	<br>
	-When all tasks are complete, the "to-do list progress" will read "You have finished the new hire todo list!"
	<br>
  	<img src= ""), class="img-rounded" %>
</p>
<a href="#top">↑Return to Table of Contents</a>
<br>
<br>

<a style="font-size:24px" name="edit"><strong>Editting a New Hire:</a>
<br>
<p>
	-Click on "Check new hire list" button or "All Hires" tab
	<br>
  	<img src= ""), class="img-rounded" %>
  	<br>
	-Click on the "edit" button on the row that corresponds to the hire you would like to edit
	<br>
  	<img src= ""), class="img-rounded" %>
  	<br>
	-Change the information in the chosen fields
	<br>
  	<img src= ""), class="img-rounded" %>
  	<br>
	-Click the "Save" button to save the changes made
	<br>
  	<img src= ""), class="img-rounded" %>
</p>
<a href="#top">↑Return to Table of Contents</a>
<br>
<br>

<a style="font-size:24px" name="delete"><strong>Deleting a New Hire:</a>
<br>
<p>
	-Click on "Check new hire list" button or "All Hires" tab
	<br>
  	<img src= ""), class="img-rounded" %>
  	<br>
	-Click on the "delete" button on the row that corresponds to the hire you would like to delete
	<br>
  	<img src= ""), class="img-rounded" %>
  	<br>
	-Click "OK" to successfully erase the new hire from the database
	<br>
  	<img src= ""), class="img-rounded" %>
</p>
<a href="#top">↑Return to Table of Contents</a>
<br>
<br>

<a style="font-size:24px" name="search"><strong>Searching for a New Hire:</a>
<br>
<p>
	-Click on "Check new hire list" button or "All Hires" tab
	<br>
  	<img src= ""), class="img-rounded" %>
  	<br>
	-Click on the search bar and type in the name of the employee that you are seraching for
	<br>
  	<img src= ""), class="img-rounded" %>
  	<br>
	-Click the "Search" button to search for the hire
	<br>
  	<img src= ""), class="img-rounded" %>
  	<br>
	-To return to the full list of hires, click the "Clear" button
	<br>
  	<img src= ""), class="img-rounded" %>
</p>
<a href="#top">↑Return to Table of Contents</a>
<br>
<br>

Consult HR for questions or missing information.  

