<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Now adding a new hire is easy! 
	<br>
	Just click <%= link_to "Add a new hire!", new_path %>
  and add in the information asked to add the new hire to the database.  
  <br>
	Consult HR for questions or missing information.  
</p>

<div class="center">
<img src= "http://sonsofisis.files.wordpress.com/2009/11/serra_angel_greg_staples.jpg"), class="img-rounded" %>
<div>