<% provide(:title, 'Help') %>
<h1>Help</h1>
<a name="top"><p style = "align:left;font-size:30px;text-decoration:underline;"><strong>Table of Contents</p><a>
<a href="#initial">→Initial setup</a>
<br>
<a href="#addnew">→Adding New Hires</a>
<br>
<a href="#todolist">→To Do List and Emailing Contacts</a>
<br>
<a href="#edit">→Editting a New Hire</a>
<br>
<a href="#delete">→Deleting a New Hire</a>
<br>
<a href="#search">→Searching for a New Hire</a>
<br>
<br>
<br>

<a style="font-size:24px" name="initial"><strong>Initial setup:</a>
<br>
<p>
	-Go to the settings tab
	<br>
	<img src= "http://content.screencast.com/users/cbissell12345/folders/Jing/media/d8ee67cb-f0c2-4d08-a9c0-7f84991628cd/00000026.png"), class="img-rounded" %> 
  	<br>
  	-Click on the "add contact" button
  	<br>
  	<img src= "http://content.screencast.com/users/cbissell12345/folders/Jing/media/29e80b7a-4956-425c-aa45-7a880f58117b/00000027.png"), class="img-rounded" %>
  	<br>
  	-Choose the responsibility that corresponds to the contact that you are adding.  The contact will recieve emails regarding the responsibility.
  	<br>
    <img src= "http://content.screencast.com/users/cbissell12345/folders/Jing/media/eb2c7c31-efad-4083-a79b-880de45691de/00000028.png"), class="img-rounded" %>
    <br>
    -Put in the name and email address of the contact 
    <br>
  	<img src= "http://content.screencast.com/users/cbissell12345/folders/Jing/media/80944036-3d63-433c-a253-a465d2a3b1e8/00000030.png"), class="img-rounded" %>
  	<br>
  	-All of the resonsibilities will need to have an assigned contact before new hires can start being added
  	<br>
  	<img src= "http://content.screencast.com/users/cbissell12345/folders/Jing/media/5496e465-1db9-4eda-aaaf-89be9b367422/00000031.png"), class="img-rounded" %>
</p>
<a href="#top">↑Return to Table of Contents</a>
<br>
<br>

<a style="font-size:24px" name="addnew"><strong>Adding New Hires:</a>
<br>
<p>
	-Click on "Add a new hire" button or "Add New" tab
	<br>
  	<img src= "http://content.screencast.com/users/cbissell12345/folders/Jing/media/0c0424b5-ce45-4a5a-8555-f7b2cfadf936/00000032.png"), class="img-rounded" %>
  <br>
	-Fill in all required fields 
	<br>
  	<img src= "http://content.screencast.com/users/cbissell12345/folders/Jing/media/1e70145c-bf86-468c-a044-9f2bf17d018a/00000033.png"), class="img-rounded" %>
  <br>
	-Click "Add Hire" to complete adding hire
	<br>
  	<img src= "http://content.screencast.com/users/cbissell12345/folders/Jing/media/5e7a7d8a-9a3b-43f8-b333-f79ce388ad7b/00000034.png"), class="img-rounded" %>
  <br>
  -The new hire is now added to the "All Hires" index
  <br>
    <img src= "http://content.screencast.com/users/cbissell12345/folders/Jing/media/8e50c132-3726-491f-87e1-4a14b15567ce/00000035.png"), class="img-rounded" %>
</p>
<a href="#top">↑Return to Table of Contents</a>
<br>
<br>

<a style="font-size:24px" name="todolist"><strong>To Do List and Emailing Contacts:</a>
<br>
<p>
	-Click on "Check new hire list" button or "All Hires" tab
	<br>
  	<img src= "http://content.screencast.com/users/cbissell12345/folders/Jing/media/863096c2-2c31-4ab7-9048-3e26a470d0e6/00000036.png"), class="img-rounded" %>
  	<br>
	-Click on the "to-do list" button on the row of the table that corresponds to the new hire of choice
	<br>
  	<img src= "http://content.screencast.com/users/cbissell12345/folders/Jing/media/c8b512e6-126b-4036-9df0-c6a5d11eb809/00000037.png"), class="img-rounded" %>
  	<br>
	-To send an email, click on the "Send Email" button on the row of the table that corresponds to the task that needs to be completed
	<br>
  	<img src= "http://content.screencast.com/users/cbissell12345/folders/Jing/media/b3365b7d-bad5-48af-8777-e30270d90440/00000038.png"), class="img-rounded" %>
  	<br>
	-After the task is complete, click the "Done" button 
	<br>
  	<img src= "http://content.screencast.com/users/cbissell12345/folders/Jing/media/233ec743-8d2b-45d0-8e5a-be4dd45aa5f6/00000039.png"), class="img-rounded" %>
  	<br>
	-If you wish to send another email that corresponds to an already completed task, click the "reset" button 
	<br>
  	<img src= "http://content.screencast.com/users/cbissell12345/folders/Jing/media/06344519-cc9b-4f1f-bd9e-093997434562/00000040.png"), class="img-rounded" %>
  	<br>
	-When all tasks are complete, the "to-do list progress" will read "You have finished the new hire todo list!"
	<br>
  	<img src= "http://content.screencast.com/users/cbissell12345/folders/Jing/media/20d4a529-540b-48df-927c-7a403c49a12d/00000041.png"), class="img-rounded" %>
</p>
<a href="#top">↑Return to Table of Contents</a>
<br>
<br>

<a style="font-size:24px" name="edit"><strong>Editting a New Hire:</a>
<br>
<p>
	-Click on "Check new hire list" button or "All Hires" tab
	<br>
  	<img src= "http://content.screencast.com/users/cbissell12345/folders/Jing/media/863096c2-2c31-4ab7-9048-3e26a470d0e6/00000036.png"), class="img-rounded" %>
  	<br>
	-Click on the "edit" button on the row that corresponds to the hire you would like to edit
	<br>
  	<img src= "http://content.screencast.com/users/cbissell12345/folders/Jing/media/8dc244fe-419b-483a-b8d9-e571a7e71f65/00000042.png"), class="img-rounded" %>
  	<br>
	-Change the information in the chosen fields
	<br>
  	<img src= "http://content.screencast.com/users/cbissell12345/folders/Jing/media/87aee608-57d8-4a92-8e66-ece7fab8eca7/00000043.png"), class="img-rounded" %>
  	<br>
	-Click the "Save" button to save the changes made
	<br>
  	<img src= "http://content.screencast.com/users/cbissell12345/folders/Jing/media/020be0b7-f5db-4159-b259-1f414ab4acfb/00000044.png"), class="img-rounded" %>
</p>
<a href="#top">↑Return to Table of Contents</a>
<br>
<br>

<a style="font-size:24px" name="delete"><strong>Deleting a New Hire:</a>
<br>
<p>
	-Click on "Check new hire list" button or "All Hires" tab
	<br>
  	<img src= "http://content.screencast.com/users/cbissell12345/folders/Jing/media/863096c2-2c31-4ab7-9048-3e26a470d0e6/00000036.png"), class="img-rounded" %>
  	<br>
	-Click on the "delete" button on the row that corresponds to the hire you would like to delete
	<br>
  	<img src= "http://content.screencast.com/users/cbissell12345/folders/Jing/media/b4d2b6b4-8d09-4254-a1f4-4189243ec8ef/00000046.png"), class="img-rounded" %>
  	<br>
	-Click "OK" to successfully erase the new hire from the database
	<br>
  	<img src= "http://content.screencast.com/users/cbissell12345/folders/Jing/media/b0c7fc05-0698-41af-b17f-ae1403c80a44/00000047.png"), class="img-rounded" %>
</p>
<a href="#top">↑Return to Table of Contents</a>
<br>
<br>

<a style="font-size:24px" name="search"><strong>Searching for a New Hire:</a>
<br>
<p>
	-Click on "Check new hire list" button or "All Hires" tab
	<br>
  	<img src= "http://content.screencast.com/users/cbissell12345/folders/Jing/media/863096c2-2c31-4ab7-9048-3e26a470d0e6/00000036.png"), class="img-rounded" %>
  	<br>
	-Click on the search bar and type in the name of the employee that you are seraching for
	<br>
  	<img src= "http://content.screencast.com/users/cbissell12345/folders/Jing/media/ca5de61e-7563-41f1-9ebd-cfd031cbf1c9/00000049.png"), class="img-rounded" %>
  	<br>
	-Click the "Search" button to search for the hire
	<br>
  	<img src= "http://content.screencast.com/users/cbissell12345/folders/Jing/media/025cc95d-a838-4230-9dce-e81e0eea1ecc/00000050.png"), class="img-rounded" %>
  	<br>
	-To return to the full list of hires, click the "Clear" button
	<br>
  	<img src= "http://content.screencast.com/users/cbissell12345/folders/Jing/media/3236e2ee-c497-4733-b374-c874b9874573/00000051.png"), class="img-rounded" %>
</p>
<a href="#top">↑Return to Table of Contents</a>
<br>
<br>

Consult HR for questions or missing information.  

