<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Now adding a new hire is easy! Just click
  <%= link_to "Add a new hire!", new_path, class: "str" %>
  and add in the information asked to add the new hire to the database.  
  Consult HR for questions or missing information.  
</p>