<div class="center hero-unit">

	<%= link_to image_tag("new_hires.jpg") %>
	<h3>Welcome to New Hire 3000 XP!</h3>
  <h2>This is the new hire database for <a href="http://www.vitrue.com/">Oracle Social</a>.</h2>

  	<%= link_to "Add a new hire", new_path, class: "btn btn-large btn-primary" %>
	<%= link_to "Check new hire list", new_hires_path, class: "btn btn-large btn-primary" %>

</div>