<div class="center hero-unit">
  <h1>Welcome to New Hire 3000 XP</h1>

  <h2>
    This is the home page for the new hire database for
    <a href="http://www.vitrue.com/">Oracle Social</a>.
  </h2>

  <%= link_to "Add a new hire!", new_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("http://www.insidefacebook.com/wp-content/uploads/2012/05/oracle.jpeg"), 'http://www.oracle.com' %>