<div class="center hero-unit">
<img src= "http://www.axiosincorporated.com/Portals/14697/images/new-hire-orientation-service.jpg"), class="img-rounded" %>
  <h3>Welcome to New Hire 3000 XP!</h3>
  <h2>
    This is the new hire database for
    <a href="http://www.vitrue.com/">Oracle Social</a>.
  </h2>
  <div class="btn-group">
  <%= link_to "Add a new hire", new_path, class: "btn btn-large btn-custom" %>
<%= link_to "Check new hire list", new_hires_path, class: "btn btn-large btn-custom" %>
<%= link_to "Go to Imgur", "http://imgur.com", class: "btn btn-large btn-custom" %>
  </div>
</div>

<!%= link_to image_tag("http://www.insidefacebook.com/wp-content/uploads/2012/05/oracle.jpeg"), 'http://www.oracle.com' %>