<div class="center hero-unit">
	<h3>Welcome to New Hire 3000 XP!</h3>
	
	<img src= "http://images.community.wizards.com/community.wizards.com/user/heartlessnobody/65aaa8ac2bd82b205d231b64f8922213.jpg?v=200400"), class="img-rounded" %>
	
	<blockquote>
	  <p>"Will history remember this day as the day demons arrived, or the day saviors arrived?"</p>
	  <small>Chen<cite title="Source Title">, the Master Wizard</cite></small>
	</blockquote>

  <h2>This is the new hire database for <a href="http://www.vitrue.com/">Oracle Social</a>.</h2>
  
	<div class="btn-group">
  <%= link_to "Add a new hire", new_path, class: "btn btn-large btn-custom" %>
	<%= link_to "Check new hire list", new_hires_path, class: "btn btn-large btn-custom" %>
  </div>

</div>