<div class="center hero-unit">

	<img src= "http://images.community.wizards.com/community.wizards.com/user/heartlessnobody/65aaa8ac2bd82b205d231b64f8922213.jpg?v=200400"), class="img-rounded" %>
	
	<h3>Welcome to New Hire 3000 XP!</h3>
  <h2>This is the new hire database for <a href="http://www.vitrue.com/">Oracle Social</a>.</h2>

  	<%= link_to "Add a new hire", new_path, class: "btn btn-large btn-primary" %>
	<%= link_to "Check new hire list", new_hires_path, class: "btn btn-large btn-primary" %>

</div>