<tr>
	<td><font size="4">laptop</font>
	<td>Jiayuan Chen</td>
	
	
	<td><span class="label label-success">Done</span></td>
	
	
	<td>
		<div class="btn-group">
			<% if @new_hire.laptop == 0 %>
		    <%= link_to "sent notification to PIC", "/laptop/#{@new_hire.id}?laptop=1", class: "btn" %>
			<% elsif @new_hire.laptop == 1 %>
				<%= link_to "email sent", "#", class: "btn disabled" %>
		  <% end %>
			
			<a class="btn" href="#">postpone</a>
			<a class="btn" href="#">done!</a>
		</div>
	</td>
	
	
	
	
	
	
</tr>
