<% provide(:title, 'All Hires') %>


<h1>All Hires</h1>

<div class="center"><h2>click on names to check new hire details and to-do list</h2><div>
	
<%= will_paginate %>

<table class="table">
	<thead>
		<tr>
			<th> Name </th>
			<th> Oracle Email </th>
			<th> Department </th>
			<th> Quick Actions </th>
		</tr>
	<thead>

	<tbody>
    <%= render @new_hires %>
	</tbody>
</table>
<%= will_paginate %>

