<% provide(:title, 'All Hires') %>

<% if Contact.find_by_todo("Laptop") != nil && Contact.find_by_todo("Badge") != nil && Contact.find_by_todo("Setup VPN") != nil && Contact.find_by_todo("Find Seat") != nil && Contact.find_by_todo("Setup IRC") != nil && Contact.find_by_todo("Setup VM") != nil %>
<% else %>
	<% flash[:error] = "Please first complete the necessary contacts information within \"Settings\"  (completed #{Contact.count} out 6)" %> 
<% end %>

<h1>All Hires</h1>

<div class="center"><h2>click on names to check new hire details and to-do list</h2><div>
	
<%= will_paginate %>

<table class="table">
	<thead>
		<tr>
			<th> Name </th>
			<th> Oracle Email </th>
			<th> Department </th>
			<th> Quick Actions </th>
		</tr>
	<thead>

	<tbody>
    <%= render @new_hires %>
	</tbody>
</table>
<%= will_paginate %>

