<% provide(:title, @new_hire.name) %>
<div class="row">
  <aside class="span10">
    <section>
      <h1>
        <br>
		<%= @new_hire.name %>
      </h1>
	  <p>
		<b>Email:</b> 			<%= @new_hire.email %>
		<br>
		<b>Department:</b>      <%= @new_hire.department %>
		<br>
		<b>Office Location:</b> <%= @new_hire.office_location %>
	  </p>
    </section>
  </aside>
</div>