<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello <%= @new_hire.name %>,</h1>
    <p>
      This is just a reminder that we have not yet received your I9 tax form.  Please try to get us that document as soon as possible. 
    </p>
    <p>Thanks for all of your help and have a great day!</p>
  </body>
</html>