<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello, </h1>
    <p>
      A New Hire has been added and we need to get a VPN account set up for:

      <%= @new_hire.name %>
      <%= @new_hire.email %>
    </p>
    <p>Thanks for all of your help and have a great day!</p>
  </body>
</html>