<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Oracle, <%= @new_hire.name %></h1>
    <p>
      You have successfully been added into the Oracle New Hire system.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>