<footer class="footer">	
	
  <small>
    <%= link_to "New Hire 3000 XP", root_path %>
    by <a href="https://www.facebook.com/colourfulpanda?ref=tn_tnmn">Jiayuan Chen</a> and <a href="https://www.facebook.com/chris.bissell.52">Christopher Bissell</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
	  <li><%= link_to "Help",    help_path %></li>
    </ul>
  </nav>
	
</footer>
