<footer class="footer">
  <small>
    <%= link_to "New Hire 3000 XP", root_path %>
    by Jiayuan Chen and Christopher Bissell
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
    </ul>
  </nav>
</footer>