<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "New Hire 3000 XP", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
	      <li><%= link_to "≡ All Hires", new_hires_path %></li>
         <li><%= link_to "+ Add New",    new_path %></li>
         <li><%= link_to "⚙ Settings", contacts_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>